In [295]:
import pandas as pd
import altair as alt
import glob
import os
import re

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [296]:
# create list of filenames
folder_path = '../data/data-unified/AA-NationaleVisa/tabula/'
files_AA_dvisas = glob.glob(os.path.join(folder_path, '*.csv*'))
files_AA_dvisas

['../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2019.csv',
 '../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2024.csv',
 '../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2023.csv',
 '../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2022.csv',
 '../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2020.csv',
 '../data/data-unified/AA-NationaleVisa/tabula/tabula-AA_nationalvisa-2021.csv']

In [297]:
def read_csv_df(filename):
    df_year = pd.read_csv(filename, delimiter=';') #read in one file
    year_str= re.sub(r"(.*)(\d\d\d\d)(.*)",r"\2",filename) #grab year from filename
    df_year['year']=year_str #save year as a separate column to df
    return df_year

In [298]:
AA_DVISA_DATA=pd.DataFrame() # create empty dataframe

In [299]:
for file in files_AA_dvisas: #read each file
    df_yearly = read_csv_df(file) # into a df
    AA_DVISA_DATA=pd.concat([AA_DVISA_DATA,df_yearly]) #concat to empty dataframe

In [300]:
AA_DVISA_DATA.head() #inspect dataframe

,Land,Auslandsvertretung,Ehegattennachzug,Kindernachzug,Sonst_Familiennachzug,Studium,Sprachkurs_Schulbesuch,Erwerbstätigkeit,JüdischeZuwanderung,Spätaussiedler,HumanitäreAufnahmeResettlement,SonstigeAufenthaltszwecke,Gesamt,year,Elternnachzug
0,Afghanistan,Kabul,356,400,81,34,17,6,0,0,0,13,907,2019,NaN
1,Ägypten,Kairo,1097,801,113,2394,46,1057,0,0,1107,101,6716,2019,NaN
2,Albanien,Tirana,1343,1181,43,498,243,4914,0,0,0,38,8260,2019,NaN
3,Algerien,Algier,300,55,34,33,145,155,0,0,0,85,807,2019,NaN
4,Angola,Luanda,8,8,5,5,4,13,0,0,0,16,59,2019,NaN

In [301]:
REGIONEN = pd.read_csv('../data/Welt_Laender_Code.csv') # reading in German country names + ISO2 codes
REGIONEN.head()

        Countryname_German Country_Code Region
0                  Belgien           BE     EU
1                Bulgarien           BG     EU
2  Bosnien und Herzegowina           BA     EU
3               Montenegro           ME     EU
4    Tschechische Republik           CZ     EU

In [302]:
# merging ISO2 codes onto data
AA_DVISA_DATA_coded = AA_DVISA_DATA.merge(REGIONEN[['Countryname_German','Country_Code']], left_on='Land', right_on='Countryname_German')
AA_DVISA_DATA_coded.head()

,Land,Auslandsvertretung,Ehegattennachzug,Kindernachzug,Sonst_Familiennachzug,Studium,Sprachkurs_Schulbesuch,Erwerbstätigkeit,JüdischeZuwanderung,Spätaussiedler,HumanitäreAufnahmeResettlement,SonstigeAufenthaltszwecke,Gesamt,year,Elternnachzug,Countryname_German,Country_Code
0,Afghanistan,Kabul,356,400,81,34,17,6,0,0,0,13,907,2019,NaN,Afghanistan,AF
1,Ägypten,Kairo,1097,801,113,2394,46,1057,0,0,1107,101,6716,2019,NaN,Ägypten,EG
2,Albanien,Tirana,1343,1181,43,498,243,4914,0,0,0,38,8260,2019,NaN,Albanien,AL
3,Algerien,Algier,300,55,34,33,145,155,0,0,0,85,807,2019,NaN,Algerien,DZ
4,Angola,Luanda,8,8,5,5,4,13,0,0,0,16,59,2019,NaN,Angola,AO

In [303]:
# check length is identical to pre-merge
if len(AA_DVISA_DATA) != len(AA_DVISA_DATA_coded):
    print('mismatch')
    before_merge_country_list = AA_DVISA_DATA.Land.unique()
    after_merge_country_list = AA_DVISA_DATA_coded.Land.unique()
    difference = list(set(before_merge_country_list) - set(after_merge_country_list))
    difference # see the mismatch between both lists
else:
    print(f'Identical lengths: {len(AA_DVISA_DATA)} and {len(AA_DVISA_DATA_coded)}')

Identical lengths: 1036 and 1036

In [304]:
# reading in ISO3 codes and English country names
REGIONS = pd.read_csv('../data/country-and-continent-codes-list.csv', delimiter=';')
REGIONS = REGIONS.drop_duplicates(subset='ISO-alpha2 code')
REGIONS.head()

,continent,region,subregion,country,M49 code,ISO-alpha3 code,ISO-alpha2 code,Other groupings
0,Asia,Southern Asia,Southern Asia,Afghanistan,4,AFG,AF,LDC LLDC
1,Europe,Southern Europe,Southern Europe,Albania,8,ALB,AL,NaN
2,Americas,Northern America,Northern America,Antarctica,10,ATA,AQ,NaN
3,Africa,Northern Africa,Northern Africa,Algeria,12,DZA,DZ,NaN
4,Oceania,Polynesia,Polynesia,American Samoa,16,ASM,AS,SIDS

In [305]:
#merging English country names and ISO codes to dataframe
AA_DVISA_DATA_regionalized = AA_DVISA_DATA_coded.merge(REGIONS[['continent','region','country','ISO-alpha2 code','ISO-alpha3 code']], left_on='Country_Code', right_on='ISO-alpha2 code', how='left')
AA_DVISA_DATA_regionalized.head()

,Land,Auslandsvertretung,Ehegattennachzug,Kindernachzug,Sonst_Familiennachzug,Studium,Sprachkurs_Schulbesuch,Erwerbstätigkeit,JüdischeZuwanderung,Spätaussiedler,HumanitäreAufnahmeResettlement,SonstigeAufenthaltszwecke,Gesamt,year,Elternnachzug,Countryname_German,Country_Code,continent,region,country,ISO-alpha2 code,ISO-alpha3 code
0,Afghanistan,Kabul,356,400,81,34,17,6,0,0,0,13,907,2019,NaN,Afghanistan,AF,Asia,Southern Asia,Afghanistan,AF,AFG
1,Ägypten,Kairo,1097,801,113,2394,46,1057,0,0,1107,101,6716,2019,NaN,Ägypten,EG,Africa,Northern Africa,Egypt,EG,EGY
2,Albanien,Tirana,1343,1181,43,498,243,4914,0,0,0,38,8260,2019,NaN,Albanien,AL,Europe,Southern Europe,Albania,AL,ALB
3,Algerien,Algier,300,55,34,33,145,155,0,0,0,85,807,2019,NaN,Algerien,DZ,Africa,Northern Africa,Algeria,DZ,DZA
4,Angola,Luanda,8,8,5,5,4,13,0,0,0,16,59,2019,NaN,Angola,AO,Africa,Sub-Saharan Africa,Angola,AO,AGO

In [306]:
#check length mismatch
print(len(AA_DVISA_DATA_coded))
print(len(AA_DVISA_DATA_regionalized))

1036
1036

In [316]:
#aggregate all visas issued by continent and year
GRANTED_DVISA_continent = AA_DVISA_DATA_regionalized.groupby(by=['continent','year'])['Gesamt'].sum().reset_index()
GRANTED_DVISA_continent

   continent  year  Gesamt
0     Africa  2019   28877
1     Africa  2020   16026
2     Africa  2021   30871
3     Africa  2022   39122
4     Africa  2023   43917
5     Africa  2024   50815
6   Americas  2019   23517
7   Americas  2020   11830
8   Americas  2021   18621
9   Americas  2022   23702
10  Americas  2023   22838
11  Americas  2024   24146
12      Asia  2019  165605
13      Asia  2020   97476
14      Asia  2021  159535
15      Asia  2022  217899
16      Asia  2023  230591
17      Asia  2024  245051
18    Europe  2019  103655
19    Europe  2020   64131
20    Europe  2021   92462
21    Europe  2022  108210
22    Europe  2023   98068
23    Europe  2024   93692
24   Oceania  2019    1038
25   Oceania  2020     548
26   Oceania  2021     486
27   Oceania  2022     734
28   Oceania  2023    1266
29   Oceania  2024    1539

In [309]:
line = alt.Chart(GRANTED_DVISA_continent).mark_line().encode(
    x='year',
    y='Gesamt',
    color='continent'
).properties(width=600)

dots = alt.Chart(GRANTED_DVISA_continent).mark_point().encode(
    x='year',
    y='Gesamt',
    color='continent'
).properties(width=600, title='Granted national visa over time by continent (note that differences between continents might be due to the number of applications filed')

line+dots

alt.LayerChart(...)

In [310]:
#aggreating all visas both total granted (gesamt) and work visas (erwerbstätigkeit) per year and continent
GRANTED_DVISA_Erwerb_continent = AA_DVISA_DATA_regionalized.groupby(by=['continent','year']).agg({
    'Gesamt': 'sum',
    'Erwerbstätigkeit': 'sum',
}).reset_index()

GRANTED_DVISA_Erwerb_continent #reporting-relevant

   continent  year  Gesamt  Erwerbstätigkeit
0     Africa  2019   28877              5694
1     Africa  2020   16026              3078
2     Africa  2021   30871              7542
3     Africa  2022   39122             12314
4     Africa  2023   43917             16992
5     Africa  2024   50815             20545
6   Americas  2019   23517             10659
7   Americas  2020   11830              5013
8   Americas  2021   18621              8019
9   Americas  2022   23702             11491
10  Americas  2023   22838             11073
11  Americas  2024   24146             11616
12      Asia  2019  165605             43275
13      Asia  2020   97476             26345
14      Asia  2021  159535             40251
15      Asia  2022  217899             64153
16      Asia  2023  230591             72083
17      Asia  2024  245051             80730
18    Europe  2019  103655             58097
19    Europe  2020   64131             25515
20    Europe  2021   92462             39451
21    Europe  2022  108210             61514
22    Europe  2023   98068             54430
23    Europe  2024   93692             55709
24   Oceania  2019    1038               746
25   Oceania  2020     548               354
26   Oceania  2021     486               293
27   Oceania  2022     734               537
28   Oceania  2023    1266               868
29   Oceania  2024    1539              1169

In [311]:
#aggreating all visas both total granted (gesamt) and work visas (erwerbstätigkeit) per year and region
GRANTED_DVISA_Erwerb_continent = AA_DVISA_DATA_regionalized.groupby(by=['region','year']).agg({
    'Gesamt': 'sum',
    'Erwerbstätigkeit': 'sum',
}).reset_index()

GRANTED_DVISA_Erwerb_continent #reporting-relevant

                             region  year  Gesamt  Erwerbstätigkeit
0         Australia and New Zealand  2019    1038               746
1         Australia and New Zealand  2020     548               354
2         Australia and New Zealand  2021     486               293
3         Australia and New Zealand  2022     734               537
4         Australia and New Zealand  2023    1266               868
5         Australia and New Zealand  2024    1539              1169
6                   Central America  2019    5420              1512
7                   Central America  2020    2305               636
8                   Central America  2021    4397              1492
9                   Central America  2022    5507              1944
10                  Central America  2023    5170              1956
11                  Central America  2024    5408              1882
12                     Central Asia  2019    6973              1954
13                     Central Asia  2020    4224               816
14                     Central Asia  2021    7895              2262
15                     Central Asia  2022    8226              2843
16                     Central Asia  2023    9035              3217
17                     Central Asia  2024    8947              3913
18                     Eastern Asia  2019   29112              9416
19                     Eastern Asia  2020   14082              3948
20                     Eastern Asia  2021   18344              5286
21                     Eastern Asia  2022   18510              6351
22                     Eastern Asia  2023   24593              8641
23                     Eastern Asia  2024   29614             11608
24                   Eastern Europe  2019   28632              9080
25                   Eastern Europe  2020   18865              5038
26                   Eastern Europe  2021   25725              7044
27                   Eastern Europe  2022   27584              9731
28                   Eastern Europe  2023   16326              4758
29                   Eastern Europe  2024   12133              3391
30  Latin America and the Caribbean  2019    1099               214
31  Latin America and the Caribbean  2020     612                69
32  Latin America and the Caribbean  2021     909               151
33  Latin America and the Caribbean  2022     993               194
34  Latin America and the Caribbean  2023     936               202
35  Latin America and the Caribbean  2024     894               193
36                  Northern Africa  2019   15058              2636
37                  Northern Africa  2020    8813              1746
38                  Northern Africa  2021   17551              4505
39                  Northern Africa  2022   21637              7818
40                  Northern Africa  2023   24730             10596
41                  Northern Africa  2024   28147             12579
42                 Northern America  2019    4152              2232
43                 Northern America  2020    3103              1526
44                 Northern America  2021    3964              2058
45                 Northern America  2022    4104              2369
46                 Northern America  2023    4701              2494
47                 Northern America  2024    5111              2746
48                  Northern Europe  2019    2492              2001
49                  Northern Europe  2020    2276              1916
50                  Northern Europe  2021    2622              2165
51                  Northern Europe  2022    2847              2221
52                  Northern Europe  2023    2749              2072
53                  Northern Europe  2024    2660              1966
54                    South America  2019   12846              6701
55                    South America  2020    5810              2782
56                    South America  2021    9351              4318
57                    South America  2022   13098              6984
58                    South America  2023   12031              6421
59                    South America  2024   12733              6795
60               South-eastern Asia  2019   18969              8496
61               South-eastern Asia  2020   15636              8082
62               South-eastern Asia  2021   17319              9274
63               South-eastern Asia  2022   25100             14755
64               South-eastern Asia  2023   29907             18428
65               South-eastern Asia  2024   30603             18704
66                    Southern Asia  2019   48094             15021
67                    Southern Asia  2020   26967              6068
68                    Southern Asia  2021   56051             11384
69                    Southern Asia  2022   92049             21440
70                    Southern Asia  2023   79873             22313
71                    Southern Asia  2024   89028             24487
72                  Southern Europe  2019   69022             44531
73                  Southern Europe  2020   40041             16541
74                  Southern Europe  2021   60462             27712
75                  Southern Europe  2022   73823             46780
76                  Southern Europe  2023   75016             44834
77                  Southern Europe  2024   74933             47609
78               Sub-Saharan Africa  2019   13819              3058
79               Sub-Saharan Africa  2020    7213              1332
80               Sub-Saharan Africa  2021   13320              3037
81               Sub-Saharan Africa  2022   17485              4496
82               Sub-Saharan Africa  2023   19187              6396
83               Sub-Saharan Africa  2024   22668              7966
84                     Western Asia  2019   62457              8388
85                     Western Asia  2020   36567              7431
86                     Western Asia  2021   59926             12045
87                     Western Asia  2022   74014             18764
88                     Western Asia  2023   87183             19484
89                     Western Asia  2024   86859             22018
90                   Western Europe  2019    3509              2485
91                   Western Europe  2020    2949              2020
92                   Western Europe  2021    3653              2530
93                   Western Europe  2022    3956              2782
94                   Western Europe  2023    3977              2766
95                   Western Europe  2024    3966              2743